<section class="flex flex-col shadow-lg rounded-md pb-2 bg-white w-full">
  <div
    class="grid grid-flow-col grid-cols-4 pl-4 pr-4 pt-3 pb-3 rounded-t-md font-semibold bg-[#f9fafb] border-solid border-b-[1px] border-gray-300 text-gray-600 text-[12px]"
  >
    <p class="col-span-3">Stock</p>
    <p class="col-span-1 text-center">Current Price</p>
  </div>
  <div
    id="list-conainer"
    class="flex flex-col h-[410px] overflow-auto scroll-smooth"
  >
    <div
      *ngFor="let item of newValue"
      [ngClass]="'flex flex-row justify-between'"
      class="font-semibold text-[14px] items-center pl-4 pr-4 pt-2 pb-2 bg-white border-solid border-b-[1px] border-gray-300"
    >
      <p class="col-span-1 text-center">{{ item.ticker }}</p>
      <p class="col-span-1 text-center">{{ item.price | number : ".0-3" }}</p>
    </div>
  </div>
</section>
