<section class="flex flex-col gap-5 p-6">
  <p class="font-semibold text-gray-500 text-[14px]">Dashboard</p>

  <div class="flex flex-col grow gap-3 relative">
    <div class="flex flex-row justify-between text-[14px]">
      <p class="text-gray-500 font-bold text-[18px]">Indices</p>
      <a [routerLink]="['/all-indices']" class="content-end text-blue-800"
        >See all</a
      >
    </div>
    <div class="bg-white p-3 pr-5 pl-5 rounded-md shadow-lg">
      <div
        id="indices-container"
        class="flex flex-row gap-7 items-center overflow-hidden"
      >
        <div *ngFor="let item of indicesList">
          <app-indices-box
            [indicesName]="item.name"
            [changes]="item.changes"
            [data]="item.currentValue"
          ></app-indices-box>
        </div>
        <img
          src="images/arrow-gray.svg"
          alt="logo"
          (click)="onIndicesScroll(-1)"
          class="bg-white rounded-full h-[36px] w-[36px] absolute left-0 p-2 -translate-x-1/2 drop-shadow-lg cursor-pointer fill-blue-50"
        />
        <img
          src="images/arrow-gray.svg"
          alt="logo"
          (click)="onIndicesScroll(1)"
          class="bg-white rounded-full h-[36px] w-[36px] absolute right-0 p-2 translate-x-1/2 drop-shadow-lg cursor-pointer fill-blue-50 rotate-180"
        />
      </div>
    </div>
  </div>

  <div class="flex flex-row gap-5 justify-between">
    <div class="flex flex-col grow gap-2">
      <div class="flex flex-row justify-between text-[14px]">
        <p class="text-gray-500 font-bold text-[18px]">Top Movers</p>
        <a [routerLink]="['/about']" class="content-end text-blue-800"
          >See all</a
        >
      </div>
      <app-top-movers></app-top-movers>
    </div>

    <div class="flex flex-col grow gap-5">
      <app-portfolio></app-portfolio>

      <div class="flex flex-col justify-between gap-2">
        <div class="flex flex-row justify-between text-[14px]">
          <p class="text-gray-500 font-bold text-[18px]">
            Currencies & commodities
          </p>
          <a [routerLink]="['/about']" class="content-end text-blue-800"
            >See all</a
          >
        </div>
        <app-currency-commodity></app-currency-commodity>
      </div>
    </div>
  </div>
</section>
