<section
  class="max-w-max h-screen bg-white relative shadow-lg top-0 z-10 border-solid border-gray-200 border-r-2"
>
  <div
    class="w-[300px]"
    [@slideInOut]="!isAnimation ? 'collapse' : 'expand'"
  ></div>
  <div class="flex flex-col pt-0 w-full h-full">
    <div class="header-logo flex flex-col pl-6">
      <div class="flex flex-row items-center h-[80px]">
        <img
          src="images/logo.svg"
          alt="logo"
          class="h-[30px] cursor-pointer"
          routerLink="dashboard"
        />
        <h1
          class="p-4 font-[750] bg-gradient-to-r from-blue-500 to-blue-800 bg-clip-text text-transparent"
          [@hideAnimation]="!isSidebarExpanded ? 'hide' : 'visible'"
        >
          Invest IT
        </h1>
        <img
          src="images/arrow-white.svg"
          alt="logo"
          (click)="setSideSectionExpanded()"
          [ngClass]="{ 'rotate-180': !isSidebarExpanded }"
          class="p-2 rounded-full h-[36px] w-[36px] absolute right-0 translate-x-1/2 drop-shadow-lg bg-[#005ECC] cursor-pointer fill-blue-50"
        />
      </div>
    </div>
    <hr class="border-solid border-gray-200 border-[1px]" />

    <div
      class="side-menu flex flex-col gap-4 p-5 h-full overflow-auto text-gray-600"
    >
      <div
        class="flex flex-row border-solid border-[1px] p-2 border-[#005cc6] rounded-lg items-center justify-between"
      >
        <div class="flex flex-row gap-3 items-center">
          <img src="images/wallet.svg" alt="logo" class="h-[25px] w-[25px]" />
          <div
            class="flex flex-col text-[14px] gap-1 justify-between"
            [@hideAnimation]="!isSidebarExpanded ? 'hide' : 'visible'"
          >
            <p class="font-[600] text-gray-600">Wallet</p>
            <p class="font-semibold text-gray-950">
              ₹ {{ balance | currency : "" : "" }}
            </p>
          </div>
        </div>
        <img
          src="images/arrow-gray.svg"
          [@hideAnimation]="!isSidebarExpanded ? 'hide' : 'visible'"
          alt="arrow"
          class="h-[12px] w-[12px] rotate-180"
        />
      </div>

      <p
        class="text-gray-400 text-[12px] uppercase ml-4 font-[500]"
        [@hideAnimation]="!isSidebarExpanded ? 'hide' : 'visible'"
      >
        Main Menu
      </p>
      <hr
        class="border-solid border-gray-200 border-[1px]"
        [@hideAnimation]="isSidebarExpanded ? 'hide' : 'visible'"
      />
      <div class="flex flex-col gap-1">
        <div *ngFor="let item of sideContainerList">
          <app-menu-box
            [menuItem]="item"
            [isSidebarExpanded]="isSidebarExpanded"
          ></app-menu-box>
        </div>
      </div>

      <p
        class="text-gray-400 text-[12px] uppercase ml-4 font-[500]"
        [@hideAnimation]="!isSidebarExpanded ? 'hide' : 'visible'"
      >
        Support
      </p>
      <hr
        class="border-solid border-gray-200 border-[1px]"
        [@hideAnimation]="isSidebarExpanded ? 'hide' : 'visible'"
      />
      <div class="flex flex-col gap-1">
        <div *ngFor="let item of supportMenuList">
          <app-menu-box
            [menuItem]="item"
            [isSidebarExpanded]="isSidebarExpanded"
          ></app-menu-box>
        </div>
      </div>

      <hr
        class="border-solid border-gray-200 border-[1px]"
        [@hideAnimation]="isSidebarExpanded ? 'hide' : 'visible'"
      />
      <div class="text-red-500">
        <app-menu-box
          [menuItem]="logOutMenu"
          [isSidebarExpanded]="isSidebarExpanded"
        ></app-menu-box>
      </div>
    </div>
  </div>
</section>
