<section class="shadow-sm bg-white rounded-md">
  <div
    class="flex flex-row items-center justify-between gap-4 p-4 text-gray-600 text-[12px]"
  >
    <div class="flex flex-col justify-center">
      <p class="uppercase">Overall Returns</p>
      <p class="font-semibold text-2xl">{{ totalReturn }}%</p>
    </div>

    <div class="flex flex-col justify-center items-center">
      <p class="">Day's P/L</p>
      <p class="font-semibold text-[14px]">{{ totalReturn }}%</p>
    </div>

    <div class="flex flex-col justify-center items-center">
      <p class="uppercase">Current</p>
      <p class="font-semibold text-[14px]">2100</p>
    </div>

    <div class="flex flex-col justify-center items-center">
      <p class="uppercase">Invest</p>
      <p class="font-semibold text-[14px]">1000</p>
    </div>
  </div>
</section>
