<div
  class="flex flex-row items-center justify-between h-[40px] p-3 hover:bg-[#EEF6FF] rounded-lg cursor-pointer"
  [routerLink]="menuItem.link"
  (click)="menuItem.content && changeMenuExpanded(menuItem.name)"
>
  <div class="flex flex-row gap-3 items-center">
    <img
      [src]="menuItem.icon"
      alt="name"
      class="h-[25px] w-[25px] fill-red-300"
      [ngClass]="menuItem.icon ? 'visible' : 'invisible'"
    />
    <p
      class="text-[14px] font-semibold"
      [@hideAnimation]="!isSidebarExpanded ? 'hide' : 'visible'"
    >
      {{ menuItem.name }}
    </p>
  </div>
  <img
    src="images/arrow-gray.svg"
    [@hideAnimation]="!isSidebarExpanded ? 'hide' : 'visible'"
    class="h-[15px] w-[15px] {{
      menuItem.content !== undefined && menuItem.content.length > 0
        ? 'block'
        : 'hidden'
    }} {{ menuExpanded.get(menuItem.name) ? 'rotate-90' : '-rotate-90' }}"
  />
</div>

<div *ngIf="menuItem.content">
  <div
    *ngFor="let child of menuItem.content"
    [ngClass]="
      menuExpanded.get(menuItem.name) && isSidebarExpanded ? 'block' : 'hidden'
    "
  >
    <a [routerLink]="child.link">
      <app-menu-box
        [menuItem]="child"
        [isSidebarExpanded]="isSidebarExpanded"
      ></app-menu-box>
    </a>
  </div>

  <div
    [ngClass]="
      menuExpanded.get(menuItem.name) && !isSidebarExpanded ? 'block' : 'hidden'
    "
    class="absolute w-[200px] flex flex-col gap-2 bg-white z-10 border-solid shadow-md border-gray-300 border-[1px] p-2 rounded-md text-[12px] font-semibold text-gray-600"
  >
    <a
      *ngFor="let child of menuItem.content"
      [routerLink]="child.link"
      (click)="changeMenuExpanded(menuItem.name)"
    >
      <div
        class="flex flex-col justify-center w-full h-[45px] border-solid border-b-[1px] border-gray-300 p-2 grow rounded-md hover:bg-[#EEF6FF]"
      >
        <p>{{ child.name }}</p>
      </div>
    </a>
  </div>
</div>
